# Environment
__pycache__/
*.lock
*.python-version
*.out

# Directories
artifacts/result
artifacts/log
artifacts/interim
artifacts/old
artifacts/latest
artifacts/baseline_eval
artifacts/threshold_ablation
artifacts/pbr

exp/prototypes
outputs
docs

# Keep directory structure with .gitkeep files
!artifacts/input/.gitkeep
!artifacts/interim/.gitkeep
!artifacts/result/.gitkeep
!artifacts/log/.gitkeep