# Dot folders
.*

# Environment
__pycache__/
*.lock
*.python-version
*.out

# Directories
artifacts
exp/prototypes
outputs
docs
hf_models

# Keep directory structure with .gitkeep files
!artifacts/input/.gitkeep
!artifacts/interim/.gitkeep
!artifacts/result/.gitkeep
!artifacts/log/.gitkeep